:root {
    --branding-color-1: #75C73D;
    --branding-color-2: #43461f;
    --branding-color-3: #F9F5F8;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #43461F;
    line-height: 1.5;
}


h1, 
h2,
h3, 
h4, 
h5, 
h6,
a {
    font-family: 'PT Sans', sans-serif;
}

p {
    font-size: 18px;
}

header {
    background: var(--branding-color-3);
    padding-top: 50px;
}

nav {
    background-color: var(--branding-color-3);
}

h1 {
    font-size: 4em;
    font-weight: bold;
    margin: 20px auto;
}

h1.page-title {
    text-align: center;
    margin: 100px auto 80px;
}

h2, h3 {
    margin-bottom: 20px;
}

.full-width {
    background: white;
}

.hero {
    padding: 30px 40px 20px 40px;
    border-radius: 4px;
}

img.profile-photo {
    border-radius: 50%;
    margin-top: 30px;
    border: 2px solid var(--branding-color-1);
}

a.primary-button {
    background: white;
    border: 2px solid var(--branding-color-1);
    border-radius: 4px;
    color: var(--branding-color2);
    font-weight: bold;
    margin: 40px auto 0;
    max-width: 40%;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

a.primary-button:hover {
    border: 2px solid var(--branding-color-3);
    color: var(--branding-color-1);
}

a.secondary-button {
    background: white;
    border: 2px solid var(--branding-color-2);
    border-radius: 4px;
    color: var(--branding-color-1);
    font-weight: bold;
    margin: 40px auto 0;
    max-width: 40%;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

a.secondary-button:hover {
    border: 2px solid var(--branding-color-3);
    color: var(--branding-color-2);
}

div.link-buttons.view-link {
    text-align: right;
}

div.link-buttons.git-link {
    text-align: left;
}

.gallery {
    padding: 70px 0 100px;
}

img.gallery-image {
    border: 4px solid var(--branding-color-1);
    border-radius: 10%;
    max-width: 90%;
    margin: 40px 20px 10px;
    padding: 3em;
    transition: 200ms ease-in-out;
}

img.gallery-image:hover {
    background: var(--branding-color-3);
    border: 4px solid var(--branding-color-2);
    opacity: 0.4;
}

footer {
    background: var(--branding-color-3);
    text-align: center;
    padding: 50px 0;
}

footer i {
    color: white;
    padding: 8px;
    background: var(--branding-color-2);
    border-radius: 50%;
    margin: 15px;
    transition: 150ms ease-in-out;
}
footer i:hover {
    color: var(--branding-color-1);
    background: white;
}

img.about-image {
    border-radius: 4px;
    max-width: 90%;
}

div.certificates {
    background: var(--branding-color-3);
    padding: 50px 0;
    margin: 40px 0;
}

img.certificate {
    background: white;
    border: 2px solid var(--branding-color-1);
    border-radius: 4px;
    display: block;
    margin: 0 auto;

}

a.contact-link {
    color: var(--branding-color-1);
}

a.contact-link:hover {
    color: var(--branding-color-2);
}

div.work-nav-section a {
    text-decoration: none;
}

h4.work-nav {
    color: var(--branding-color-2);
    font-weight: bold;
    padding: 80px 50px;
    border: 4px solid var(--branding-color-1);
    border-radius: 50%;
    transition: 200ms ease-in-out;
}

h4.work-nav:hover {
    background-color: var(--branding-color-1);
    color: white;
    box-shadow: 5px 5px 10px 10px rgb(67, 70, 31, 0.2);
}

div.project-card {
    background: var(--branding-color-3);
    border-radius: 4px;
    margin: 50px 0;
    padding: 25px;
}

img.project-image {
    border: 2px solid var(--branding-color-2);
    border-radius: 50%;
}

div.website-offer {
    background-color: var(--branding-color-3);
    border-radius: 4px;
}

p.coming-soon {
    font-size: 5em;
    text-align: center;
    color: var(--branding-color-1);
    margin: 60px 0 80px;
}

#webiste-work,
#front-end-dev-work,
#other-work {
    font-size: 40px;
}

p.note {
    font-size: 10px;
}

@media (max-width: 768px) {
    h1 {
        text-align: left;
    }

    h1.page-title {
        margin-bottom: 20px;
    }

    .gallery {
        padding-top: 50px;
    }

    .gallery div h2 {
        text-align: center;
    }

    .hero {
        padding: 0;
    }

    div.certificates {
        display: none;
    }

    div.link-buttons.view-link,
    div.link-buttons.git-link {
        text-align: center;
        margin: 20px;
    }

    div.project-card {
        padding: 0;
        text-align: center;
    }

    div.project-card div {
        padding: 0;
    }

    img.project-image,
    img.contact-image,
    div.work-nav-section a {
        display: none;
    }
}

@media (max-width: 992px) {
    img.profile-photo {
        margin-top: 4em;
    }

}