:root {
    --branding-color-1: #75C73D;
    --branding-color-2: #43461F;
    --branding-color-3: #F9F5F8;
}

body {
    font-family: 'Quicksand', sans-serif;
    color: #43461F;
    line-height: 1.5;
}


h1, 
h2, 
h3, 
h4, 
h5, 
h6,
a {
    font-family: 'PT Sans', sans-serif;
}

p {
    font-size: 18px;
}

header {
    background: var(--branding-color-3);
    padding-top: 50px;
}

nav {
    background-color: var(--branding-color-3);
}

h1 {
    font-size: 4em;
    font-weight: bold;
    margin: 20px auto;
}

h1.page-title {
    text-align: center;
    margin: 100px auto 80px;
}

h2 {
    margin-bottom: 20px;
}

.full-width {
    background: white;
}

.hero {
    padding: 30px 40px 20px 40px;
    border-radius: 4px;
}

img.profile-photo {
    border-radius: 50%;
    margin-top: 30px;
    border: 2px solid var(--branding-color-1);
}

a.button {
    border: 2px solid var(--branding-color-1);
    border-radius: 4px;
    color: var(--branding-color2);
    display: block;
    font-weight: bold;
    margin: 40px auto 0;
    max-width: 40%;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    transition: 200ms ease-in-out;
}

a.button:hover {
    border: 2px solid var(--branding-color-3);
    color: var(--branding-color-1);
}


.gallery {
    padding: 70px 0 100px;
}

img.gallery-image {
    border: 4px solid var(--branding-color-1);
    border-radius: 10%;
    max-width: 90%;
    margin: 40px 20px 10px;
    padding: 3em;
    transition: 200ms ease-in-out;
}

img.gallery-image:hover {
    background: var(--branding-color-3);
    border: 4px solid var(--branding-color-2);
    opacity: 0.4;
}

footer {
    background: var(--branding-color-3);
    text-align: center;
    padding: 50px 0;
}

i {
    color: white;
    padding: 8px;
    background: var(--branding-color-2);
    border-radius: 50%;
    margin: 15px;
}

img.about-image {
    border-radius: 4px;
    max-width: 90%;
}

div.certificates {
    background: var(--branding-color-3);
    padding: 50px 0;
    margin: 40px 0;
}

img.certificate {
    background: white;
    border: 2px solid var(--branding-color-1);
    border-radius: 4px;
    display: block;
    margin: 0 auto;

}

@media (max-width: 768px) {
    h1 {
        text-align: left;
    }

    .gallery {
        padding-top: 50px;
    }

    .gallery div h2 {
        text-align: center;
    }

    .hero {
        padding: 0;
    }

    div.certificates {
        display: none;
    }
}

@media (max-width: 992px) {
    img.profile-photo {
        margin-top: 4em;
    }
}